@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/GothamRounded-Bold.woff2') format('woff2'),
        url('fonts/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('fonts/GothamRounded-Book.woff2') format('woff2'),
        url('fonts/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    zoom: normal;
    display: grid;
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 1.2vw;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.logo_main {
    width: 6vw;
    margin: auto;
}

.menu {
    margin-left: 26%;
    margin-right: 26%;
    margin-top: .5%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    font-family: 'Gotham Rounded Book';
    font-size: 63%;
}

.menu a:link,
.menu a:visited,
.menu a:active {
    text-decoration: none;
}

.menu a {
    color: black;
    grid-row: 1;
    z-index: 0;
    transition: font-size .4s cubic-bezier(.15,.47,.36,1) .15s;
}

.home, .config, .prod, .about {
    margin-top: .2vw;
    border: solid 0.09vw black;
    color: black;
    background-color: black;
    width: 10%;
    transition: width .4s cubic-bezier(.15,.47,.36,1) .15s;
}

.home_text:hover ~ .home, .config_text:hover ~ .config,
.product_text:hover ~ .prod, .aboutus_text:hover ~ .about {
    width: 70%;
}

.home_text:hover, .config_text:hover, .product_text:hover, .aboutus_text:hover {
    font-size: 93%;
}

.main_contents {
    margin-top: 1vw;
    display: grid;
    grid-template-rows: 1 auto;
    grid-template-columns: 1 auto;
    z-index: 0;
}

.mainbg {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
}

.darkening {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    z-index: 1;
    background-color: black;
    opacity: 45%;
}

.header_text {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    color: white;
    font-family: 'Gotham Rounded';
    font-weight: bold;
    margin-left: 8vw;
    margin-top: 7vw;
    letter-spacing: .35vw;
    font-size: 2.5vw;
}

.underheader_text {
    font-size: 2.5vw;
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    color: white;
    font-family: 'Gotham Rounded Book';
    margin-left: 9.5vw;
    align-self: center;
    letter-spacing: .15vw;
}

.paragraph_line {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    margin-left: 8vw;
    align-self: center;
    height: 11.2vw;
    rotate: 90deg;
    background-color: white;
    border: solid .15vw white;
    border-radius: 1vw;
}

.signature {
    grid-row: 1;
    grid-column: 1;
    color: white;
    z-index: 2;
    align-self: flex-end;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: auto;
    display: grid;
    grid-template-rows: repeat(2, min-content);
    opacity: 35%;
}

.shop_name {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    font-family: 'Gotham Rounded';
    font-weight: bold;
    font-size: 55%;
    align-self: flex-end;
}

.authorship {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    font-family: 'Gotham Rounded Book';
    font-size: 40%;
    margin-bottom: 5%;
    text-align: end;
}