@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/GothamRounded-Bold.woff2') format('woff2'),
        url('fonts/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('fonts/GothamRounded-Book.woff2') format('woff2'),
        url('fonts/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    display: grid;
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 1.2vw;
}

body::-webkit-scrollbar {
    display: none;
}

.logo_main {
    width: 8vw;
    margin: auto;
}

.menu {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1vw;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    font-family: 'Gotham Rounded Book';
    font-size: 1.6vw;
}

.menu a:link,
.menu a:visited,
.menu a:active {
    text-decoration: none;
}

.menu a {
    color: black;
    grid-row: 1;
    z-index: 0;
}

.main_contents {
    margin-top: 2.9vw;
    display: grid;
    grid-template-rows: 1 auto;
    grid-template-columns: 1 auto;
    z-index: 0;
    justify-items: center;
}

.mainbg {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
}

.darkening {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    z-index: 1;
    background-color: black;
    opacity: 35%;
}